html, body {
    height: 100%;
    width: 100%;
    background-image: url("../images/Spices.jpg");
    font-family:'Spartan';
    
  }

h1 {
    width: 50%;
    border: 1px solid black;
    margin: 20px auto;
    padding: 30px;
    font-size: 40px;
    background-color: white;
}
.container {
    text-align: center;
    padding: 20px;
}



.timer {
    margin: 10px auto;
    width: 30%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

.instructions {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    background-color: white;
    border: 1px solid black;
}

.question-box {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    align-content: center;
}

p {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    margin: 5px;
    margin-bottom: 30px;
}

input {
    margin: 0px 5px 0px 5px;
}

button {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

#results {
    width: 50%;
    background-color: white;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

#restart-button {
    align-self: center;
    margin-top: 30px;
}